/* Variables */
:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-light-dark: #444444;
  --special-opacity-black: rgba(0, 0, 0, 0.4);
  --basic-black-darken: #666;

  --basic-grey: #EEEEEE;
  --basic-dark-grey:#DFDFDF;
  --basic-extra-grey: #D5D5D5;

  --basic-white: #ffffff;

  --spicial-black-opacity:rgba(0, 1, 1, 0.1);
  --special-red: #FB565A;
  --special-dark-red: #E74246;
  --special-extra-red: #D7373B;

  --special-yellow: #EFC84A;;
  --special-dark-yellow: #EAB534;;
  --special-extra-yellow: #E5A722;

  --special-green: #00CA74;
  --special-dark-green: #00BC6C;
  --special-extra-green: #00AA62;
  
  --special-form-border-inactiv: #D7DCDE;
  --special-form-border-hover: #B4B9BB;
  --special-form-border-error: #E74246;
  --special-social--inactiv: #E1E1E1;
  --special-pagination-border: #DBDBDB;
}

/* Basic-style */

.page-body{
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: var(--basic-extra-dark);
    background-color: var(--basic-white);
    margin: 0;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    
}

.page{
    height: 100%;
  }

a{
    text-decoration:none;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    font-weight: inherit;
}

/* position-style */

img{
    max-width: 100%;
    height: auto;
}

.wrapper{
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

.hidden{
   position: absolute;
   top: -9999px;
   left: -9999px;
}

/* style-btn and btn-active */

.btn{
    display: inline-block;
    text-align: center;
    padding: 17px 54px 15px;
    border-radius: 3px;
    color: var(--basic-white);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: inherit;
}

.btn-primary{
    background-color: var(--special-red);
    text-transform: uppercase;
}

.btn-primary:hover{
    background-color: var(--special-dark-red);
}

.btn-primary:active{
    background-color: var(--special-extra-red);
    box-shadow: inset 0 3px 0 var(--spicial-black-opacity);
}

.btn-secondary{
    background-color:var(--basic-grey);
    color:var(--basic-black);
}

.btn-secondary:hover{
    background-color: var(--basic-dark-grey);
}

.btn-secondary:active{
    background-color: var(--basic-extra-grey);
    box-shadow: inset 0 3px 0 var(--spicial-black-opacity);
    opacity: 0.3;
}


/* style-btn and btn-active кнопки секции сервис */


.btn-order-app{
    background-color: var(--special-green);
}

.btn-order-app:hover{
    background-color: var(--special-dark-green);
}

.btn-order-app:active{
    background-color: var(--special-extra-green);
    box-shadow: inset 0 3px 0 var(--spicial-black-opacity);
}

.btn-order-presentation{
    background-color: var(--special-yellow);
}

.btn-order-presentation:hover{
    background-color: var(--special-dark-yellow);
}

.btn-order-presentation:active{
    background-color: var(--special-extra-yellow);
    box-shadow: inset 0 3px 0 var(--spicial-black-opacity);
}

/* style */
/* header-style */

.main-header{
    background-color: var(--basic-grey);
    margin: 0;
    padding-top: 48px;
}

.main-header .main-nav{
    list-style: none;
    margin: 0;
    padding: 0;
}

.cart,
.main-nav-item a{
    color: var(--basic-black);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
}

.cart{
    display: inline-block;
    position: relative;
}

.cart::before{
    content: "";
    width: 15px;
    height: 15px;
    background-image: url(../img/cart-icon.svg);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 8px;
    left: -23px;
}

/* grid-header */

.header-nav{
    display: flex;
    align-items: center;
}

.main-nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-nav-item{
    margin-right: 45px;
}

.main-nav-item:last-child{
    margin-right: 0;
}

.header-logo{
    margin-right: 201px;
}

.cart{
    margin-left: auto;
}

/* promo-style */

.promo{
    background-color: var(--basic-grey);
    padding:0;
}

.promo-title{
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black);
}

/* grid-promo */

.slide{
    display: grid;
    grid-template-columns: 1fr 700px;
}

.slide2{
    display: grid;
    grid-template-columns: repeat(6,160px);
    column-gap: 40px;
}

.slide2 .promo-logo{
    grid-column-start: 3;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
}

.slide2 .promo-text{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 10;
}
.promo-logo img{
    display: block;
}

.promo-text{
    order: -1;
    padding: 0;
}

/* service-style */

.service{
    padding: 80px 0;
}

.service-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.service-list{
    list-style: none;
    padding: 0;
}

.service-list-item{
    width: 300px;
}

/* service-grid */

.service-list{
    display: grid;
    grid-template-columns:repeat(3,300px);
    gap: 50px 100px;
}

/* about-us-style */

.about-us{
    padding: 39px 0 73px 0;
    border-bottom: 1px solid var(--basic-grey) ;
    border-top: 1px solid var(--basic-grey) ;
}

.about-us-title{
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
}

.about-us-subtitle{
    font-weight: bold;
    text-transform: uppercase;
    color: var(--basic-black);
}

.product-list{
    padding: 0;
    list-style: none;
}

.stats{
    border: none;
}

.stats th{
    color: var(--basic-black);
    font-size: 45px;
    line-height: 64px;
    text-align: left;
    font-weight: bold;
}

th sup{
    font-weight: bold;
    font-size: 26px;
    line-height: 40px;
    color: inherit;
}

.static td{
    line-height: 18px;
}

/* about-us-grid */

.about-us{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap:  30px 75px;
}

/* our-clients-style */

.our-clients{
    margin-bottom: 80px;
    padding: 53px 0 44px 0;
    border-bottom: 1px solid var(--basic-grey);
}

.our-clients-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.our-clients-item{
    opacity: 0.2;   
}

.our-clients-item:hover{
    opacity: 1;   
}

.our-clients-item:active{
    opacity: 0.2;   
}

/* our-clients-grid */

.our-clients-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    justify-items: center;
    align-items: center;
}

/* footer-contacts-style */

.footer-contacts{
    width: 318px;
}

.footer-contacts .footer-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.footer-contacts .footer-addres{
    line-height: 18px;
    color: var(--basic-black-darken);
}

.footer-addres a{
    color: inherit;
    line-height: inherit;
    
}


.footer-social-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: var(--basic-black);
}

.footer-social{
    font-size: 16px;
    line-height: 22px;
    color: var(--basic-light-dark);
    text-align: center;
}

.social-links{
    list-style: none;
    padding: 0;
}

.social-link-item{
    display: inline-block;
}

.social-btn{
    display: inline-block;
    width: 81px;
    height: 81px;
    border-radius:50%;
    font-size: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--special-social--inactiv) ;
 
}
.social-vk{
    background-image: url("../img/vk-icon.svg");  
}

.social-fb{
    background-image: url("../img/fb-icon.svg");  
}

.social-inst{
    background-image: url("../img/insta-icon.svg");  
}

.social-btn:hover{
    background-color: var(--special-dark-red);
}

.social-btn:active{
    background-color: var(--special-extra-red);
    box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/* footer-grid */

.footer-social{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: start;
    align-items: center;
}

.footer-social-info{
    order: 2;
}

/* modal-style */

.modal{
    width: 960px;
    padding: 63px 99px 84px 100px;
    margin: 15px 0;
    background-color: var(--basic-white);
    box-shadow: 0 20px 40px var(--special-opacity-black);
}

.modal-title{
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
}

.form-group{
    margin-bottom: 34px;
}

.form-group label{
    color: var(--basic-black);
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}

.form-group input,
.form-group textarea{
  font: inherit;
  color: var(--basic-light-dark);
  font-weight: normal;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 16px 14px 16px 16px;
  border: 2px solid var(--special-form-border-inactiv);
  border-radius: 5px;
}

.form-group textarea{
    display: block;
    min-height: 118px;
    resize:none;
}

/* modal-style-form-interective */

.form-group input:hover,
.form-group textarea:hover{
    border-color: var(--special-form-border-hover);
}

.form-group input:focus,
.form-group textarea:focus{
    border-color: var(--basic-black);
}

.form-group input[type="email"]:invalid{
    border-color: var(--special-dark-red);
}

/* сетка каталога */

.catalog-main-grid{
    display: grid;
    grid-template-columns: 360px 1fr;
    column-gap: 40px;
}

.catalog-list{
    display: grid;
    grid-template-columns: repeat(2,358px);
    gap: 30px 40px;
}

.sort-grid{
    display: grid;
    grid-template-columns: repeat(2,358px);
    column-gap: 40px;
}

.catalog-sort{
    display: flex;
    justify-content: space-between;
    
}
/* стили каталога */

.catalog-title{
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    padding: 73px 0 108px 0;
    margin: 0;
    color: var(--basic-black);
    text-align: center;
}

.catalog_main{
    padding: 55px 0;
}

.filter-form fieldset{
    border: none;
}

.filter-form legend{
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: var(--basic-black);
}

.filter-form-list{
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--basic-extra-dark);
}

.filter-option{
    margin-bottom: 5px;
}

.pagination{
    list-style: none;
    padding:0;
}
.pagination-item{
    display: inline-block;
    margin-right: 11px;  
}

.pagination-item:last-child{
    margin-right: 0; 
}

.pagination-item a{
    display: inline-block;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-black);
    text-transform: uppercase;
    padding: 17px 20px 15px 20px;
    border: 3px solid var(--special-pagination-border);
    border-radius: 3px;
    background-color: var(--basic-grey);
}

.pagination-item .active{
    background-color: transparent;
}

.pagination-item:last-child a{
    padding-right: 78px;
    padding-left: 78px; 
}

.catalog-list{
    list-style: none;
    padding: 0;
}

.catalog-item img{
    display: block;
}

.product-info{
    background-color: var(--basic-grey);
    padding: 26px 53px 44px 53px;
    text-align: center;
}

.product-info h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: var(--basic-black);
    margin: 0;
    padding: 0;
}

.product-info p{
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.catalog-sort{
    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog-sort-item a{
    color: var(--basic-black);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.subtitle-catalog-sort{
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}
